<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>boomboompow</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>mantisicon512x512</string>
		<string>iTunesArtwork</string>
		<string>mantisicon1024x1024</string>
		<string>iTunesArtwork@2x</string>
		<string>mantisicon57x57</string>
		<string>Icon</string>
		<string>mantisicon114x114</string>
		<string>Icon@2x</string>
		<string>mantisicon72x72</string>
		<string>Icon-72</string>
		<string>mantisicon144x144</string>
		<string>Icon-72@2x</string>
		<string>mantisicon29x29</string>
		<string>Icon-Small</string>
		<string>mantisicon58x58</string>
		<string>Icon-Small@2x</string>
		<string>mantisicon50x50</string>
		<string>Icon-Small-50</string>
		<string>mantisicon100x100</string>
		<string>Icon-Small-50@2x</string>
		<string>mantisicon60x60</string>
		<string>mantisicon120x120</string>
		<string>mantisicon76x76</string>
		<string>mantisicon152x152</string>
		<string>mantisicon40x40</string>
		<string>mantisicon80x80</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>mantisicon512x512</string>
				<string>iTunesArtwork</string>
				<string>mantisicon1024x1024</string>
				<string>iTunesArtwork@2x</string>
				<string>mantisicon57x57</string>
				<string>Icon</string>
				<string>mantisicon114x114</string>
				<string>Icon@2x</string>
				<string>mantisicon72x72</string>
				<string>Icon-72</string>
				<string>mantisicon144x144</string>
				<string>Icon-72@2x</string>
				<string>mantisicon29x29</string>
				<string>Icon-Small</string>
				<string>mantisicon58x58</string>
				<string>Icon-Small@2x</string>
				<string>mantisicon50x50</string>
				<string>Icon-Small-50</string>
				<string>mantisicon100x100</string>
				<string>Icon-Small-50@2x</string>
				<string>mantisicon60x60</string>
				<string>mantisicon120x120</string>
				<string>mantisicon76x76</string>
				<string>mantisicon152x152</string>
				<string>mantisicon40x40</string>
				<string>mantisicon80x80</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.subatomiclabs.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
